@import '~mdb-ui-kit/css/mdb.min.css';

.text_size {
    font-size: 14px;
    margin-left: auto;
    /* Canh lề trái */
    margin-right: auto;
    /* Canh lề phải */
}

.container_text_size {
  
    margin-left: auto;
    /* Canh lề trái */
    margin-right: auto;
    /* Canh lề phải */
}